<!-- appointments/templates/appointments/base_generic.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hair Salon{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'appointments/style.css' %}">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'homepage' %}">Hair Salon</a>
            </div>
            <div class="nav-links">
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'book_appointment' %}">Book Appointment</a>
                {% if user.is_authenticated %}
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        Logout
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <p>&copy; 2024 Hair Salon | <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></p>
    </footer>
</body>
</html>

